<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to joes movie reviews!</h1>
    <h2>Add a movie:</h2>
    <form id="newMovieForm">
        <input type="text" name="title" placeholder="title">
        <button>Add Movie!</button>
    </form>
    <h2>All movies:</h2>
    <ul id="movieList">

    </ul>
    <script src="/js/scripts.js"></script>
</body>
</html>